*{padding: 0; margin: 0; box-sizing: border-box;}
body{
    background: url(bg2.jpg);
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;

}
.container{
    width: 90%;
    height: 90%;
    border: 2px solid aquamarine;
    border-radius: 10px;
    background-color: darkslateblue;
    /* background: linear-gradient(rgba(2, 0, 104, 0.952),rgba(238, 9, 200, 0.425)); */
    background: linear-gradient(to right, darkslateblue 73%, pink 100%, pink 100%, violet 100%);
    
}
nav{
    width: 100%;
    height: 100px;
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 5px;
}
nav a{
    text-decoration: none ;
    color: darkslateblue;
    padding: 10px;
    margin:20px ;
    font-size: 20px;
    position: relative;
    display: flex;
    justify-content: center;
}
.nav-a{
    font-size: 25px;
}
#image{
    background: #000;
}

nav a:hover{
    color: red;
    font-family:cursive;
    /* font-size: 25px; */
    text-transform: uppercase;
}
.nav-a:hover{
    border-bottom: 2px dashed white;
    transform: scale(1.2);
    margin-top: 10px;
}
.resume{

    position: absolute;
    float:right;
    right: 50px;
    width: 120px;
    height: 40px;
    background-color: black;
    color: azure;
    text-align: center;
    border: 2px solid whitesmoke;
    border-radius: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
}
.resume:hover{
    background-color: azure;
    color: red;
    transform: scale(1.5);
    cursor: pointer;
    border: 2px solid salmon;
    text-shadow: 2px -2px 5px skyblue;
}

nav img:hover{
    transform: scale(1.5);
    /* border-bottom: 2px dashed white; */
}

.text{
    max-width: 450px;
    color:aliceblue;
    margin-top: 100px;
    margin-left: 100px;
}
.text h1{
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-left: 10px;
    border-left: 5px solid lightgoldenrodyellow;
    text-shadow: 5px 4px 5px rgb(180, 24, 18);;
}
.dynamic-text{
    width: 250px;
    height: 41px;
    /* padding-top: 1px; */
    /* padding-bottom: 1px; */
    /* margin-top: 2px; */
    margin-bottom: 2px;
    /* line-height: auto; */
    overflow: hidden;
}
.dynamic-text li{
    list-style: none;
    font-size: 30px;
    font-family: cursive;
    color: lightgoldenrodyellow;
    padding-left: 10px;
    position: relative;
    border-left: 5px solid lightgoldenrodyellow;
    text-shadow: 5px -2px 5px rgb(180, 24, 18);;
    animation: slide 6s steps(2) infinite;
}
@keyframes slide{
    100%{
        top:  -42px;
    }
}

.dynamic-text li::after{
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: darkslateblue ;
    border-left: 2px solid lightgoldenrodyellow;
    animation: typing 3s steps(10) infinite;
}
@keyframes typing{
    40%,60%{
        left: calc(100% + 30px);
    }
    100%{
        left: 0;
    }
}

.text p{
    margin: 20px 0px;
    font-size: 20px;
}

.work{
    padding: 10px;
    background: transparent;
    border: 1px solid rgb(248, 215, 67);
    border-radius: 10px;
    outline: none;
    color: azure;
    font-weight: bolder;
    background-color: rgb(29, 110, 187);
    cursor: pointer;
    box-shadow: 2px 1px 7px 2px azure;
}
.work:hover{
    background-color: azure;
    color: rgb(2, 132, 253);
    transform: scale(1.2);
    cursor: pointer;
    border: 2px solid rgb(4, 152, 238);
    text-shadow: 2px -2px 5px skyblue;
}
#icon{    
    margin-top: 50px;
    right:100;
    position: relative;

}
#icon:hover{
    background-color: aliceblue;
    cursor: pointer;
    transform: scale(1.2);
}

.image{
    position: absolute;
    position: fixed;
    bottom: 200px;
    right: 300px;
    padding: 0px;
    /* border: 20px solid rgba(252, 235, 7, 0.733);
    margin: 0px solid red;
    border-radius: 10px; */
    /* background: #00000018; */
}
.image img{
    border-radius: 50%;
    border: 10px solid seashell;
}